<!DOCTYPE html>
<html ng-app="videoApp">
<head>
  <title>VideoApp</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <%= stylesheet_link_tag "application" %>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js ">
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-route.js"></script>
    <script src="/javascripts/ui-bootstrap-tpls-0.11.0.min.js"></script>

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div ng-view></div>

</body>

</html>
